body {
	font-family: 'Open Sans', sans-serif;
}

.cabecalho {
	height: 100px;
}

#logo-pet {
	float:left;
	margin-left: 100px;
	margin-top:5px;
}

.menu1 {
	margin-right:100px;
	margin-top:20px;
}

.menu {
	float:right;
}

.menu li {
	display: inline-block;
	padding-right: 20px;
	list-style:none;
	vertical-align:middle;
}

li a {
	color: black;
	padding-right: 16px;
	text-decoration: none;
}

li a:hover {
	color:blue;
}

.banner {
	background-image: url("../_imagens/_banners/banner4.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 20px auto 0;
	height: 400px;
}

.item {
	float:left;
	width: 30%;
}

.atividades > .item:nth-child(3) {
	margin-left: 30px;
}

.atividades > .item:nth-child(4) {
	margin-left: 30px;
}


.atividades > .item > p {
	text-align: justify;
}

.atividades p, .quem-somos p, .footer p {
	color: #727272;
}

.atividades, .quem-somos, .membros, .tutora, .footer {
	margin: 40px 100px 80px 100px;
}

.atividades {
	height: 250px;
}

.contato {
	margin: 20px auto 50px;
	padding: 70px 0px;
	height: 150px;
	color: white;
	background-image: url("../_imagens/callout_fundo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	height: 100px;
	margin: -70px 0;
	padding: 70px 0 120px;
}

.titulo {
	margin: 10px auto 20px;
	padding: 0 15px;
	position: relative;
	text-align: center;
}

.botao { 
	text-align: center;
	color: white;
	margin: 0 auto;
	padding: 14px 35px;
	border-radius: 3px;
	background-color: #2EA6D2;
	text-decoration: none;
	font-size: 20px;
	display: block;
	vertical-align: middle;
	width: 200px;
}

.quem-somos {
	height: 150px;
}

.membros, .tutora {
	height: 330px;
}

.membros > .item {
	width: 200px;
	margin: 0 10px;
	text-align: center;
}

.tutora > .item {
	margin-left: 35%;
	text-align: center;
}

.item img {
	border-radius: 50%;
	margin: 10px;
	width: 150px;
	border: solid #2ea6d2;
}

.footer {
	height: 50px;
	padding-top: 20px;
}

#logo-footer {
	float:right;
}