		body{
			font-family: 'Open Sans', sans-serif;
		}

		#logo-pet {
			float: left;
			margin-left: 100px;
			margin-top: 5px;
		}

		.cabecalho{
			height: 100px;
		}

		.menu{
			float: right;
		}

		.menu li {
			display: inline-block;
			list-style: none;
			padding-right:  20px;
			vertical-align: middle;
		}

		.menu1 {
			margin-right: 100px;
			margin-top: 20px;
		}

		li a {
		    color: black;
		    text-align: center;
		    padding-right:  16px;
		    text-decoration: none;
		}

		li a:hover {
		    color: blue;
		}

		.titulo{
			margin: 10px auto 20px;
			padding: 0 15px;
			position: relative;
			text-align: center;

		}

		.banner{
			margin: 20px 0px 50px;
			height: 400px;
			background-image: url("../_imagens/_banners/banner4.png");
		    background-repeat: no-repeat;
		    background-size: 100%;
		}

		hr {
			margin-top: 20px;
    		margin-bottom: 20px;
    		border: 1px;
    		border-top: 1px solid #eee;
    		box-sizing: content-box;
		}

		.atividades, .quem-somos, .membros, .tutora, .footer{
			margin: 20px 100px 50px 100px;			
		}

		.atividades > p, .quem-somos p, .membros p, .tutora p, .footer p {
			text-align: justify;
		}

		.atividades p, .quem-somos p, .footer p {
			color: #727272;
		}

		.atividades{
			height: 250px;
		}

		.item{
			float:left;
    		width: 30%;
		}

		.atividades .item > p {
			text-align: justify;
		}

		.atividades > .item:nth-child(3){
			margin-left:50px;
		}
		.atividades > .item:nth-child(4){
			margin-left:50px;
		}

		.contato{
			margin: 20px 0px 50px;
			padding: 70px 0;
			height: 150px;
			color:white;
		    background-image: url("../_imagens/callout_fundo.jpg");
		    background-repeat: no-repeat;
		    background-attachment: fixed;
		}

		.contato a {
			background-color: #2EA6D2;
			color: white;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			cursor: pointer;
			display: inline-block;
			font-weight: 600;
			transition: all 0.3s ease-in-out 0s;
			font-size: 20px;
			letter-spacing: 0px;
			line-height: 20px;
			padding: 14px 35px;
			margin: 0 10px;
			text-align: center;
			vertical-align: middle;
			text-decoration: none;
		}

		.overlay{
			margin:-70px 0px;
			height: 100px;
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
			padding: 70px 0 120px;
		}

		.quem-somos{
			height: 150px;
		}

		.membros, .tutora{
			height: 330px;
		}

		.membros p, .tutora p{
			text-align: center;
		}

		.membros > .item{
			width: 250px;
			margin: 0px 10px;
			text-align: center;
		}

		.tutora > .item{
			margin-left: 35%;
			text-align: center;
		}

		.item > a {
			text-decoration: none;
			color: black;
		}

		.item > a:hover {
		    color: blue;
		}

		.item img{
			border-radius: 50%; 
			margin: 10px; 
			width:150px; 
			border: solid #2ea6d2; 
		}

		#logo-footer{
			float: right;
		}

		.footer{
			height: 50px;
		}